@charset "utf-8";
@font-face {font-family: "Modern Sans"; src: url(../font/modern_sans/ModernSans-Light.otf);}

*, *::before, *::after {box-sizing: border-box;}
a {text-decoration: none; font-family: "Modern Sans";}
body {font-family: "Modern Sans";}


/* header */
#header {
    width: 100%;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid rgb(144, 170, 139);
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
}

.category ul {
    display: flex;
    gap: 1rem;
}

#header h2 a {
    display: block;
    color: rgb(144, 170, 139);
    font: bold 15px "Modern Sans";
    line-height: 55px;
}

#header .category a {
    color: #666;
    font: normal 12px "Modern Sans";
    padding: 0.1rem;
    transition: all .4s ease;
}

.category ul li a:hover {
    color: #fff !important;
    background: #90aa8b;
    transition: all .4s ease;
    padding: 0.1rem;
}

.search {
    flex: 0 0 150px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(139, 139, 139, 0.4);
    margin: 0;
}

.search input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 8px;
    outline: none;
    padding-right: 24px;
}

.search input::placeholder {
    color: #aaa;
    font: normal 8px "Modern Sans";
}

.search button {
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    font-size: 15px;
}


/* menu */
.menu {
    position: fixed;
    left: 0;
    /* top: 0; */
    top: -100%;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #fbffee;
    overflow-y: auto;
}

.menu .menu-close {
    width: 95%;
    margin: 1rem auto 2rem;
}

.menu .menu-close a {
    color: #222;
    font-size: 0.8rem;
    font-weight: 500;
    display: block;
    transition: all .4s ease;
}

.menu .menu-close a:hover {
    color: #90aa8b;
}

.menu .menu-container {
    width: 95%;
    margin: 0 auto;
}

.menu .menu-container .menu1 li {
    margin-bottom: 10%;
}

.menu .menu-container .menu1 li .menu-t {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s ease;
    position: relative;
}

.menu .menu-container .menu1 li .menu-t::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.6rem;
    width: 0%;
    height: 2px;
    background: #90aa8b;
    transition: all .4s ease;
}

.menu .menu-container .menu1 li .menu-t:hover::after {
    width: 90%;
}

.menu .menu-container .menu1 li .menu-t p {
    font-size: 3rem;
    color: #333;
    display: block;
}

.menu .menu-container .menu1 li .menu-t i {
    font-size: 2rem;
    color: #333;
}

.menu .menu-container .menu1 .sub {
    display: none;
    width: 98%;
    margin: 0.6rem auto;
}

.menu .menu-container .menu1 .sub li {
    width: 80%;
    margin: 1rem auto;
    padding-bottom: 0.5rem;
}

.menu .menu-container .menu1 .sub li a {
    font-size: 0.9rem;
    font-weight: 400;
    color: #555555;
    transition: all .4s ease;
    display: block;
    padding: 0.2rem 0.4rem;
    border: 1px solid transparent;
}

.menu .menu-container .menu1 .sub li a:hover {
    background: rgba(144, 170, 139, 0.4);
    border: 1px solid transparent;
    border-radius: 2px;
}

/* coming-soon */
section {padding-top: 65px;}
section h3 {width: 90%; margin: 1rem auto; border-bottom: 1px solid #90aa8b; padding-bottom: 0.7rem; color: #333;}

section button {border: 1px solid #90aa8b; background: #90aa8b; padding: 6px; font-size: 11px; color: #fff; position: relative; left: 5%; cursor: pointer; transition: all .3s ease;}
section button:hover {border: 1px dashed #90aa8b; background: #fff; color: #90aa8b;}


.soon-list {width: 95%; margin: 1rem auto;}
.soon-list li {display: flex; align-items: center; gap: 1rem; border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; margin-bottom: 1.5rem; padding: 1rem;}
.soon-list li img {width: auto; height: 100%;}

.line {position: absolute; left: 45%; top: 18.8%; width: 1px; height: 143.5vh; background: #bbb; content: "";}



/* footer */
#footer {width: 100%; height: 150px; background: #90aa8b; padding-bottom: 1.5rem;}
#footer .footbox {display: flex; gap: 5rem; padding-top: 1rem; justify-content: space-around;}
#footer .footbox .footmenu {display: flex; gap: 2rem; align-items: start;}

#footer .footlogo {font-weight: bold; padding-left: 5%; font-size: 15px; color: #fff;}
#footer .f-title {color: #fff; font-size: 13px;}

#footer .f-title li a {color: #fff; font-size: 9px;}
#footer .f-title li a:hover {background: #fff; color: #90aa8b;}


.copyf-title {color: #fff; font-size: 10px;}



/* scroll bar */
::-webkit-scrollbar {width: 10px; height: 6px;}

::-webkit-scrollbar-track {background: #f5f5f5; border-radius: 10px;}

::-webkit-scrollbar-thumb {background-color: #90aa8b; border-radius: 10px; border: 1px solid #dcdcdc;}

::-webkit-scrollbar-thumb:hover {background-color: #6f8969;}