@charset "utf-8";

@font-face {
    font-family: "Modern Sans"; 
    src: url(../font/modern_sans/ModernSans-Light.otf);
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none; 
    font-family: "Modern Sans";
}

body {
    font-family: "Modern Sans";
}


/* header */
#header {
    width: 100%; 
    height: 55px; 
    line-height: 55px; 
    border-bottom: 1px solid rgb(144, 170, 139); 
    background: #fff; 
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 999; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0.1rem;
}

.category ul {
    display: flex; 
    gap: 1rem;
}

#header h2 a {
    display: block; 
    color: rgb(144, 170, 139); 
    font: bold 15px "Modern Sans"; 
    line-height: 55px;
}

#header .category a {
    color: #666; 
    font: normal 12px "Modern Sans";
    padding: 0.1rem;
    transition: all .4s ease;
}

.category ul li a:hover {
    color: #fff !important; 
    background: #90aa8b;
    transition: all .4s ease;
    padding: 0.1rem;
}

.search {
    flex: 0 0 150px; 
    display: flex; 
    align-items: center; 
    border-bottom: 1px solid rgba(139, 139, 139, 0.4); 
    margin: 0;
}

.search input {
    flex: 1; 
    border: none; 
    background: transparent; 
    padding: 8px; 
    outline: none; 
    padding-right: 24px;
}

.search input::placeholder {
    color: #aaa; 
    font: normal 8px "Modern Sans";
}

.search button {
    background: none; 
    border: none; 
    cursor: pointer; 
    color: #666; 
    font-size: 15px;
}



/* menu */
.menu {
    position: fixed;
    left: 0;
    /* top: 0; */
    top: -100%;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #fbffee;
    overflow-y: auto;
}

.menu .menu-close {
    width: 95%;
    margin: 1rem auto 2rem;
}

.menu .menu-close a {
    color: #222;
    font-size: 0.8rem;
    font-weight: 500;
    display: block;
    transition: all .4s ease;
}

.menu .menu-close a:hover {
    color: #90aa8b;
}

.menu .menu-container {
    width: 95%;
    margin: 0 auto;
}

.menu .menu-container .menu1 li {
    margin-bottom: 10%;
}

.menu .menu-container .menu1 li .menu-t {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s ease;
    position: relative;
}

.menu .menu-container .menu1 li .menu-t::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.6rem;
    width: 0%;
    height: 2px;
    background: #90aa8b;
    transition: all .4s ease;
}

.menu .menu-container .menu1 li .menu-t:hover::after {
    width: 90%;
}

.menu .menu-container .menu1 li .menu-t p {
    font-size: 3rem;
    color: #333;
    display: block;
}

.menu .menu-container .menu1 li .menu-t i {
    font-size: 2rem;
    color: #333;
}

.menu .menu-container .menu1 .sub {
    display: none;
    width: 98%;
    margin: 0.6rem auto;
}

.menu .menu-container .menu1 .sub li {
    width: 80%;
    margin: 1rem auto;
    padding-bottom: 0.5rem;
}

.menu .menu-container .menu1 .sub li a {
    font-size: 0.9rem;
    font-weight: 400;
    color: #555555;
    transition: all .4s ease;
    display: block;
    padding: 0.2rem 0.4rem;
    border: 1px solid transparent;
}

.menu .menu-container .menu1 .sub li a:hover {
    background: rgba(144, 170, 139, 0.4);
    border: 1px solid transparent;
    border-radius: 2px;
}



/* main */
.main {
    width: 100%; 
    padding-top: 55px;
} 

.main img {
    width: 100%;
}


/* now */
.now-movie {
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
    padding: 2rem; 
    width: 90%; 
    margin: 0 auto;
}

.now-movie img {
    width: 60%; 
    object-fit: cover;
}

.now-movie h4 {
    font: bold 20px "Modern Sans"; 
    padding: 0.5rem 0; 
    border-bottom: 1px solid #90aa8b;
}

.now-movie a {
    display: flex; 
    align-items: center; 
    gap: 1.2rem; 
    color: inherit; 
    font-family: "Modern Sans";
}

.now-movie a:nth-child(even) {
    flex-direction: row-reverse;
}

.now-movie .text {
    padding-bottom: 1rem;
}

.now-movie .text p {
    display: block; 
    padding-bottom: 0.5rem;
}

.now-movie .text .movie-t {
    font-weight: bold; 
    font-size: 15px;
}

.now-movie .text .movie-d {
    font-size: 13px;
}

.now-movie .text .movie-s {
    font-size: 11px;
}

.now-movie .text .movie-i {
    padding-top: 1.5rem; 
    font-weight: bold; 
    font-size: 8px;
}


/* BEST NOW */
.best-now {
    width: 90%; 
    margin: 0 auto; 
    margin-top: 2rem;
}

.best-now img {
    width: 70%;
}

.best-now a {
    color: #333;
}

.best-now ul li {
    text-align: center; 
    padding: 1rem 0;
}

.best-now ul li a {
    color: #000; 
    font-family: "Modern Sans";
}

.best-now p {
    display: block; 
    padding: 0.3rem 0;
}

.best-now h4 {
    font: bold 20px "Modern Sans"; 
    padding: 0.5rem 0; 
    border-bottom: 1px solid #90aa8b;
}

.best-now .best-t {
    font-weight: bold; 
    font-size: 16px;
}

.best-now .best-d {
    font-weight: normal; 
    font-size: 13px;
}

.best-now .best-s {
    font-weight: normal; 
    font-size: 12px; 
    text-align: justify; 
    text-indent: 2%;
}



/* recommendation */
.rec_t {
    width: 90%; 
    margin: 2rem auto; 
    font-weight: bold; 
    font-size: 20px; 
    border-bottom: 1px solid #90aa8b; 
    padding-bottom: 1rem;
}

.recommend {
    width: 100%; 
    margin: 0 auto; 
    padding: 0.5rem;
}

.recommend-list {
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    padding: 0; 
    margin: 0;
}

.recommend-list .item.large {
    grid-row: 1/3; 
    grid-column: 1/2;
}

.recommend-list .item.small:nth-child(2) {
    grid-row: 1/2; 
    grid-column: 2/3;
}

.recommend-list .item.small:nth-child(3) {
    grid-row: 2/3; 
    grid-column: 2/3;
}

.recommend-list a {
    position: relative; 
    display: block; 
    padding: 10px; 
    color: #000;
}

.recommend-list img {
    width: 100%; 
    height: auto; 
    display: block;
}

.recommend-list .title {
    display: block; 
    font-weight: bold; 
    font-size: 16px; 
    margin-top: 10px;
}

.recommend-list p {
    font-size: 13px; 
    display: block; 
    padding-bottom: 0.5rem;
}

.recommend-list .star {
    font-size: 12px;
}

.recommend-list a::before {
    content: ""; 
    position: absolute; 
    left: 0; 
    top: 0; 
    background: rgba(144, 170, 139, 0.6); 
    opacity: 0; 
    transition: opacity 0.4s ease; 
    z-index: 1; 
    width: 100%; 
    height: 100%;
}

.recommend-list a:hover::before {
    opacity: 1;
}

.recommend-list .overlay-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    color: #fff; 
    text-align: center; 
    opacity: 0; 
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.recommend-list a:hover .overlay-text {
    opacity: 1; 
    transform: translate(-50%, -50%);
}






/* review */
.review {
    width: 90%; 
    margin: 0 auto; 
    margin-top: 1.5rem;
}

.review > ul > li > ul {
    border-bottom: 1px dashed #aaa;
}

.review h4 {
    font-weight: bold; 
    font-size: 20px; 
    padding-bottom: 1rem; 
    border-bottom: 1px solid #90aa8b;
}

.review a {
    color: #666;
}

.user-review h5 {
    font-weight: bold; 
    font-size: 15px; 
    padding-bottom: 0.3rem; 
    color: #333;
}

.review-list .review-title {
    display: block; 
    font-weight: bold; 
    font-size: 13px;
}

.review-txt {
    text-align: center;
}

.review .review-list {
    display: flex; 
    gap: 1rem; 
    align-items: center; 
    padding: 1rem 0;
}

.review-list .user-review p {
    display: block; 
    padding-bottom: 1rem; 
    font-weight: normal; 
    font-size: 13px;
}

.review-list .xi-star {
    color: #90aa8b;
}


/* genre */
.genre {
    width: 90%; 
    margin: 0 auto; 
    margin-top: 1.5rem;
}

.genre h4 {
    border-bottom: 1px solid #90aa8b; 
    padding-bottom: 1rem; 
    font-weight: bold; 
    font-size: 20px;
}

.genre-list {
    padding: 1rem;
}

.genre-list li {
    padding: 0.5rem; 
    border-bottom: 1px solid #bbb; 
    display: block;
}

.genre-list li a {
    color: #000;
}

.genre-list li a:hover {
    background: #90aa8b; 
    color: #fff;
}



/* movie article */
.article {
    width: 90%; 
    margin: 0 auto; 
    margin-top: 1.5rem; 
    overflow: hidden; 
    position: relative; 
    margin-bottom: 4rem;
}

.article h4 {
    font-weight: bold; 
    font-size: 20px; 
    border-bottom: 1px solid #90aa8b; 
    padding-bottom: 1rem;
}

.article-list {
    width: 400%; 
    padding-top: 1rem; 
    position: relative; 
    left: 0;
    transition: left 0.5s ease-in-out;
}

.article-list li {
    float: left; 
    width: 25%;
    height: 250px;
    padding: 0 5px;
}

.article-list li img {
    width: 100%; 
    height: 100%; 
    min-height: 200px;
}

.left-arrow {
    position: absolute; 
    top: 60%; 
    left: 5px; 
    transform: translateY(-50%); 
    background: rgba(144, 170, 139, 0.8);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-arrow {
    position: absolute; 
    top: 60%; 
    right: 5px; 
    transform: translateY(-50%); 
    background: rgba(144, 170, 139, 0.8);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s ease;
}

#book-roll {
    position: absolute; 
    left: 50%; 
    bottom: -30px; 
    display: flex;
    gap: 0.2rem; 
    transform: translateX(-50%);
}

#book-roll li a {
    display: block;
}

#book-roll li a .roll {
    width: 60px; 
    height: 3px; 
    background: #bbb; 
    transition: background 0.3s ease;
    border-radius: 2px;
}

#book-roll li.active .roll {
    background: #90aa8b;
}


/* footer */
#footer {
    width: 100%; 
    height: 150px; 
    background: #90aa8b; 
    padding-bottom: 1.5rem;
}

#footer .footbox {
    display: flex; 
    gap: 5rem; 
    padding-top: 1rem; 
    justify-content: space-around;
}

#footer .footbox .footmenu {
    display: flex; 
    gap: 2rem; 
    align-items: start;
}

#footer .footlogo {
    font-weight: bold; 
    padding-left: 5%; 
    font-size: 15px; 
    color: #fff;
}

#footer .f-title {
    color: #fff; 
    font-size: 15px;
}

#footer .f-title li a {
    color: #fff; 
    font-size: 11px;
}

#footer .f-title li .tel {
    font-size: 8px;
}

#footer .f-title li a:hover {
    background: #fff; 
    color: #90aa8b;
}

.copyf-title {
    color: #fff; 
    font-size: 10px;
}


/* scroll bar */
::-webkit-scrollbar {
    width: 10px; 
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #90aa8b; 
    border-radius: 10px; 
    border: 1px solid #dcdcdc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6f8969;
}



/* BEST NOW 애니메이션 */
.best-now ul li {
    opacity: 0;
}

.best-now ul li.on {
    animation: fadeUp 0.8s ease forwards;
}


/* User Revies 애니메이션 */
.review > ul > li > ul {
    opacity: 0;
}

.review > ul > li > ul.on {
    animation: slideRight 0.8s ease forwards;
}


/* top down 버튼 */
.tdBtn {
    position: fixed;
    right: 3%;
    bottom: 3%;
}

.tdBtn button {
    width: 50px;
    height: 30px;
    margin: 0.3rem 0;
    text-align: center;
    padding: 0.1rem;
    font-size: 0.6rem;
    font-weight: 300;
    color: #faf8f5;
    border: 1px solid transparent;
    border-radius: 2px;
    background:rgba(144, 170, 139, 0.6);
    backdrop-filter: blur(5px);
    cursor: pointer;
}